body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1E90FF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
    padding: 20px;
}

#capybara-info {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#random-fact {
    background-color: #f0f0f0;
    padding: 20px;
}

#new-fact-button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}